/* Styles for the price input container */
.price-input-container {
    width: 100%;
}

.price-input .price-field {
    display: flex;
    margin-bottom: 22px;
}

.price-field span {
    margin-right: 10px;
    margin-top: 6px;
    font-size: 14px;
}

.price-field-span2 {
    margin-right: 10px;
    margin-top: 6px;
    font-size: 14px;
    margin-left: 7px;
}

.price-field input {
    flex: 1;
    height: 30px;
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
    border-radius: 9px;
    text-align: center;
    border: 0px;
    background: #e4e4e4;
}

.price-input {
    width: 100%;
    font-size: 14px;
    color: #555;
}

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slider-container {
    width: 100%;
}

.slider-container {
    height: 6px;
    position: relative;
    background: #e4e4e4;
    border-radius: 5px;
    /*margin-left: 35px;*/
}

.slider-container .price-slider {
    height: 100%;

    position: absolute;
    border-radius: 5px;
    background: #32BDEA;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    background: none;
    top: -5px;
    pointer-events: none;
    cursor: pointer;
    -webkit-appearance: none;
}

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 70%;
    background: #32BDEA;
    pointer-events: auto;
    -webkit-appearance: none;
    /*margin-left: 35px;*/
}

@media screen and (max-width: 768px) {
    .main {
        width: 80%;
        margin-right: 5px;
    }

    .custom-wrapper {
        width: 100%;
        left: 0;
        padding: 0 10px;
    }

    .projtitle {
        width: 100%;
        position: relative;
        right: 26px;
    }

    .price-input {
        flex-direction: column;
        align-items: center;
    }

    .price-field {
        margin-bottom: 10px;
    }

    .toast-container {
        position: fixed;
        top: 100px;
        right: 500px;
        z-index: 1100;
    }
}